<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Panelarz</title>
</head>
<body>
  <main id="js-main">

    <div class="tab tab--start">
      <form>
        <label>height of plan: <input type="number" v-model="plan.width"></label>
        <label>width of plan: <input type="number" v-model="plan.height"></label>
      </form>
      <button v-on:click="setTab('material')">OK</button>
    </div>

    <div class="tab tab--material">
      <form>
        <label></label>
        <label>Wysokosć: <input type="number" v-model="panel.h"></label>
        <label>Szerokość: <input type="number" v-model="panel.w"></label>
        <label>Wzór:
          <select name="type" v-model="panel.type">
            <option value="symmetric">symetryczny</option>
            <option value="mixed">mieszany</option>
            <option value="continued">przekładany</option>
          </select>
        </label>
      </form>
      <button  v-on:click="setTab('measure')">OK</button>
    </div>

    <div class="tab tab--measure">
      <form>
        <label>Horizontal: <input type="number" v-model="x.val"></label>
        <label>Vertical: <input type="number" v-model="y.val"></label>
      </form>
      <button v-on:click="addPoint">Add</button>
      <ul class="list">
        <li v-for="(point, index) in points" :id="'js-input-' + index" :data-for="'svg-line-' + index">
          <label><input type="number" v-model="points[index][0]"></label>
          <label><input type="number" v-model="points[index][1]"></label>
        </li>
      </ul>
      <button v-on:click="setTab('visualization')">OK</button>
      <svg xmlns="http://www.w3.org/2000/svg" id="js-svg" :height="getSvgWidth()" :width="getSvgWidth()" :view-box.camel="getViewBox()" style="max-width: 100%">
        <g>
          <g v-if="points.length > 1">
            <line v-for="(line, index) in getLines()" :id="'svg-line-' + index" :x1="line.x1" :x2="line.x2" :y1="line.y1" :y2="line.y2" stroke="#000"></line>
          </g>
        </g>
      </svg>
    </div>

    <div class="tab tab--visualization" v-if="tab === 'visualization'">
      <svg xmlns="http://www.w3.org/2000/svg" id="js-svg-visualization" preserveAspectRatio="xMinYMin meet" :height="getSvgWidth()" :width="getSvgWidth()" :view-box.camel="'0 0 ' + plan.width + ' ' + plan.width" style="max-width: 100%">
        <path :d="getRoomOutline()" stroke="#000" fill="none"></path>
        <rect v-for="item in getPanels()" :x="item.x" :y="item.y + panel.correction[item.col]" :width="panel.w" :height="panel.h" fill="none" stroke="#000"></rect>
      </svg>
      <label v-for="(col, index) in panel.correction">column {{index}}<input v-model="panel.correction[index]"></label>
    </div>

  </main>

  <script src="bower_components/vue/dist/vue.js" type="text/javascript"></script>
  <script src="bower_components/Snap.svg/dist/snap.svg.js" type="text/javascript"></script>
  <script src="bower_components/svg-pan-zoom/dist/svg-pan-zoom.js" type="text/javascript"></script>
  <script src="script.js" type="text/javascript"></script>
</body>
</html>