<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Panelarz</title>
</head>
<body>
  <main id="js-main">
    <div>
      <label>x: <input type="number" v-model="x.val"></label>
      <label>y: <input type="number" v-model="y.val"></label>
      <button v-on:click="addPoint">Add</button>
    </div>
    <ul class="list">
      <li v-for="(point, index) in points">
        <label><input type="number" v-model="points[index][0]"></label>
        <label><input type="number" v-model="points[index][1]"></label>
      </li>
    </ul>
    <svg id="js-svg" :width="getSvgWidth()" :height="getSvgHeight()" style="max-width: 100%">
      <g v-if="points.length > 1" :transform="getTransform()">
        <line v-for="(line, index) in getLines()" :id="'svg-line-' + index" :x1="line.x1" :x2="line.x2" :y1="line.y1" :y2="line.y2" stroke="#000"></line>
      </g>
    </svg>
  </main>
  <script src="bower_components/Snap.svg/dist/snap.svg.js" type="text/javascript"></script>
  <script src="bower_components/vue/dist/vue.js" type="text/javascript"></script>
  <script src="script.js" type="text/javascript"></script>
</body>
</html>